@charset "utf-8";
/* Stylesheet for my Main page */

/* 


*/

.body{
    background-color: #252c34;
    color: #d8e5e7;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header Styles*/

.header{
    padding: 10px, 20px, 5px, 20px;
    background-color: #112d47;
    border-radius: 0.4em;
    margin: 15px, 0px, 10px, 0px;
}

.head{
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
    padding: 20px, 20px, 10px, 20px;
    margin: 10px, 10px, 5px, 10px;
    block-size: 30px;
}

/*intro Styles*/

.intro{
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    padding: 5px, 20px, 10px, 20px;
    margin: 1px, 10px, 20px, 10px;
}

/*Menu Styles*/

.nav-menu ol li{
    display: inline-block;
    padding: 1px;
    margin: 5px;
    block-size: 30px;
}

.nav-menu ol li a:visited, a:link, a:active{
    text-decoration: none;
    color: #33ff00;
    font-size: 1.2em;
}

.nav-menu ol li a:hover{
    text-decoration: underline;
    color: #d8e5e7;
}

/*Main Styles*/

main{
    padding: 20px;
    margin: 10px;
    background-color: #1b252f;
    border-radius: 0.4em;
    color: #d8e5e7;
}

/*Footer Styles*/

footer{
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    margin: 10px;
    background-color: #112d47;
    border-radius: 0.4em;
    color: #d8e5e7;
}
footer .foot-menu ul li{
    display: inline;
    padding: 1px;
    margin: 5px;
    block-size: 20px;
}

footer .foot-menu ul li a:visited{
    text-decoration: none;
    color: #33ff00;
}

footer .foot-menu ul li a:link{
    text-decoration: none;
    color: #33ff00;
    font-size: 1em; 
}

footer .foot-menu ul li a:hover{
    text-decoration: underline;
    color: #d8e5e7;
}

footer .foot-menu ul li a:active{
    text-decoration: none;
    color: #33ff00;
} 