@charset "utf-8";
/* Stylesheet for my Main page */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #27323d;
    color: #c2ccce;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1b252f;
    color: #c2ccce;
    padding: 20px;
    text-align: center;
    
}

.head-intro{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: #c2ccce;
    margin-top: 50px;
    text-align: center;
}   

.menu ul li a{
    color: #c2ccce;
    text-align: left;
    background-color: #112d47;
    padding: 1px;
    margin:15px;
    text-decoration: none;
}

.menu ul li a:link, .menu ul li a:visited {
    color: #c2ccce;
    text-decoration: none;
    margin-right: 15px;
}

.menu ul li a:hover, .menu ul li a:active {
    text-decoration: none;
}

.foot-menu ul li a{
    color: #c2ccce;
    text-align: center;
    background-color: #112d47;
    padding: 1px;
    margin-top: 20px;
}

.foot-menu ul li a:link, .foot-menu ul li a:visited {
    color: #c2ccce;
    text-decoration: none;
    margin-right: 15px;
}

.foot-menu ul li a:hover, .foot-menu ul li a:active {
    text-decoration: none;
}