@charset "utf-8";
/* Stylesheet for my Main page */

/* 


*/

body{
    background-color: #252c34;
    color: #d8e5e7;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles*/

.proj-header{
    padding: 10px, 20px, 5px, 20px;
    background-color: #112d47;
    border-radius: 0.4em;
    margin: 15px, 0px, 10px, 0px;
}

.proj-head{
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
    padding: 20px, 20px, 10px, 20px;
    margin: 10px, 10px, 5px, 10px;
    block-size: 30px;
}

/* Menu*/

.proj-menu ol li{
    display: inline-block;
    padding: 1px;
    margin: 5px;
    block-size: 30px;
}

.proj-menu ol li a:visited{
    text-decoration: none;
    color: #33ff00;
}

.proj-menu ol li a:link{
    text-decoration: none;
    color: #33ff00;
    font-size: 1.2em; 
}

.proj-menu ol li a:hover{
    text-decoration: underline;
    color: #d8e5e7;
}

.proj-menu ol li a:active{
    text-decoration: none;
    color: #33ff00;
}

/* Main section with Table*/

*{
    box-sizing: border-box;
}

main{
    margin: auto;
    background-color: #1b252f;
    border-radius: 0.4em;
    color: #d8e5e7;
    max-width: 100%;
}

.site-width{
    max-width: 100%;
    padding: 0 20px;
    margin: 10px auto;
}

main caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 7px auto;
    margin: 15px auto 10px auto;
}

/* Table stuffs*/

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    padding: auto;
    margin: 20px auto;
}

table td{
    text-align: center;
    vertical-align: middle;
    border-bottom: #33ff00 2px solid;
}

.tname, .tdesc, .tlink{
    padding: 10px;
    color: #33ff00;
    background-color: #004b7696;
}

main .proj-col1{
border-radius: 0.4em;
margin: 10px auto;
padding: 7px auto;
background-color: #112d47;
color: #ffffff;
border-radius: 0.4em;
}

main .proj-col2{
border-radius: 0.4em;
margin: 12px auto;
padding: 8px auto;
background-color: #004b7696;
}

main .proj-col3{
    background-color: #112d47;
    padding: 8px auto;
    margin: 12px auto;
    border-radius: 0.4em;
}

main .proj-header-row{
    transform: none;
    border-bottom: 2px solid #33ff00;
}

.proj1-img{
    display: center;
    max-width: 300px;
    height: auto;
    margin: 10px 10px;
}

.site-width table .proj-1:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.35);
}

main tr a:visited{
    text-decoration: none;
    color: #d8e5e7;
}

main tr a:link{
    text-decoration: none;
    color: #d8e5e7;
    font-size: 1em; 
}

main tr a:hover{
    text-decoration: underline;
    color: #33ff00;
    transform: scale(1.02);
}

.proj2-img{
    display: center;
    max-width: 300px;
    height: 275px;
    margin: 10px 10px;
}

.site-width table .proj-2:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.35);
}


/* Footer Styles*/

footer{
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    margin: 10px;
    background-color: #112d47;
    border-radius: 0.4em;
    color: #d8e5e7;
}
footer .foot-menu ul li{
    text-align: center;
    vertical-align: middle;
    display: inline;
    padding: 1px;
    margin: 5px;
    block-size: 20px;
}

footer .foot-menu ul li a:visited{
    text-decoration: none;
    color: #33ff00;
}

footer .foot-menu ul li a:link{
    text-decoration: none;
    color: #33ff00;
    font-size: 1em; 
}

footer .foot-menu ul li a:hover{
    text-decoration: underline;
    color: #d8e5e7;
}

footer .foot-menu ul li a:active{
    text-decoration: none;
    color: #33ff00;
} 